# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor/IDE
.vscode/
.idea/
*.swp

# Node
node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# Build output
dist/
build/
out/

# Logs
*.log
logs/
